---
interface Props extends astroHTML.JSX.SVGAttributes {
  /** Hex, CSS color, or theme token e.g. "var(--color-accent-red)" */
  primaryColor?: string;
}

const { primaryColor = "currentColor", ...props } = Astro.props;
---

<svg
  width="136"
  height="136"
  viewBox="0 0 136 136"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  {...props}
>
  <title>Confederation College Logo Icon</title>
  <path
    d="M106.26 89.3799C104.56 94.8399 98.9198 97.4699 93.6498 95.2699C88.3798 93.0599 85.4898 86.8499 87.1798 81.3999C88.8798 75.9399 94.5298 73.3099 99.7898 75.5199C105.06 77.7199 107.96 83.9299 106.26 89.3799Z"
    fill={primaryColor}></path>
  <path
    d="M132.53 93.0499C132.02 91.6399 131.45 90.2399 130.8 88.8399C122.09 70.1599 103.67 60.3099 89.66 66.8499C75.65 73.3799 71.36 93.8199 80.07 112.5C80.72 113.9 81.43 115.24 82.18 116.53C76.66 111.83 71.8 105.55 68.3 98.0399C68.11 97.6399 67.93 97.2399 67.77 96.8399C67.6 97.2399 67.42 97.6399 67.23 98.0399C63.73 105.56 58.87 111.84 53.35 116.54C54.1 115.24 54.81 113.9 55.46 112.5C64.17 93.8199 59.88 73.3799 45.87 66.8499C31.86 60.3199 13.44 70.1699 4.73 88.8499C4.07 90.2399 3.5 91.6499 3 93.0599C3.04 85.8099 4.73 78.0499 8.24 70.5299C18.37 48.8099 39.78 37.3599 56.08 44.9599C61.08 47.2899 65.01 51.1399 67.76 55.9799C70.52 51.1299 74.45 47.2799 79.45 44.9499C95.75 37.3599 117.16 48.8099 127.29 70.5299C130.8 78.0399 132.49 85.7999 132.53 93.0499Z"
    fill={primaryColor}></path>
  <path
    d="M57.9199 29.82C57.9199 23.85 62.3299 19 67.7599 19C73.1899 19 77.5899 23.85 77.5899 29.82C77.5899 35.79 73.1899 40.64 67.7599 40.64C62.3299 40.64 57.9199 35.8 57.9199 29.82Z"
    fill={primaryColor}></path>
  <path
    d="M47.8401 81.3198C49.5301 86.7698 46.6401 92.9798 41.3701 95.1898C36.1001 97.3898 30.4601 94.7598 28.7601 89.3098C27.0701 83.8498 29.9601 77.6498 35.2301 75.4398C40.5001 73.2398 46.1401 75.8698 47.8401 81.3198Z"
    fill={primaryColor}></path>
</svg>
